* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

/* Стили для кнопки "Домой" */
.button {
    display: inline-block;
    padding: 10px 20px;
    color: white; /* Цвет текста */
    background-color: #3498db; /* Цвет фона */
    text-decoration: none; /* Убирает подчеркивание */
    border-radius: 5px; /* Закругленные углы */
}

    .button:hover {
        background-color: #2980b9; /* Цвет фона при наведении */
    }

footer {
    width: 100%; /* Полная ширина */
    background-color: #f3b7dc; /* Цвет фона футера */
    padding: 20px; /* Отступы внутри футера */
    text-align: center; /* Центрируем текст */
    position: relative; /* Относительное позиционирование */
    left: 0; /* Начало от левого края */
    right: 0; /* Начало от правого края */
}

.footer-links {
    display: flex; /* Используем флекс для горизонтального расположения ссылок */
    justify-content: center; /* Центрируем ссылки */
    flex-wrap: wrap; /* Позволяем ссылкам переноситься на следующую строку при необходимости */
}

    .footer-links a {
        margin: 0 10px; /* Отступы между ссылками */
        color: black; /* Цвет текста ссылок */
        text-decoration: none; /* Убираем подчеркивание */
    }

.presentation-table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

    .presentation-table th, .presentation-table td {
        padding: 12px 15px;
        border-bottom: 1px solid #ddd;
    }

    .presentation-table th {
        background-color: #d7f7be;
        color: black;
        text-align: left;
    }

    .presentation-table tr:hover {
        background-color: #f1f1f1;
    }

.download-button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .download-button:hover {
        background-color: #0056b3;
    }

/**/

