* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

    header .logo img {
        width: 100px;
        height: auto;
    }

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

    nav ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
.logo img{
    width: 300px;
    
}

#navbar ul {
    display: none;
}

#navbar li:hover ul {
    display: block;
}

#navbar, #navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    #navbar li {
        float: left;
    }

    #navbar ul li {
        float: none;
    }
    #navbar ul {
        display: none;
        position: absolute;
        top: 100%;
    }

    #navbar li {
        float: left;
        position: relative;
    }

#navbar {
    border-radius: 5px;
    height: 30px;
}
    #navbar ul {
        display: none; /* Скрываем подменю */
        position: absolute;
        top: 100%;
        background-color: #d7f7be; /* Цвет подменю */
        margin: 0; /* Убираем margin */
        padding: 0; /* Убираем padding */
        border-radius: 5px; /* Добавляем скругления для подменю */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Добавляем тень для подменю */
    }

    #navbar li:hover ul {
        display: block;
    }

    #navbar, #navbar ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

#navbar {
    display: flex; /* Используем flexbox для равномерного распределения элементов */
    justify-content: space-around; /* Равномерное распределение элементов по горизонтали */
    height: 50px; /* Увеличим высоту длящий контент */
    background-color: #d7f7be;
    padding-left: 25px;
}

    #navbar li {
        float: left;
        position: relative;
        height: 100%;
    }

        #navbar li a {
            display: block;
            padding: 10px 15px; /* Увеличиваем паддинг для удобства */
            color: #000;
            text-decoration: none;
            text-align: center;
        }

    #navbar ul li {
        float: none;
    }

    #navbar li:hover {
        background-color: #ccc5bc;
    }

    #navbar ul li:hover {
        background-color: #ccc5bc;
    }

/* Intro Section */
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.profile-picture img {
    width: 330px;
    height: 500px;
    border-radius: 10px;
    margin-right: 90px;
    transform: rotate(-5deg);
    opacity: 0; /* Начальное значение непрозрачности */
    transition: opacity 3.8s ease; /* Настройка плавности и время перехода */
}
@media (max-width: 770px) {

    .intro {
        display: block;
        align-items: center;
        box-sizing: border-box; /* Рассматриваем границы и отступы как часть общего размера */
        width: 150%; /* Ширина элемента с учётом отступов */
        padding: 10px; /* Добавление отступов не увеличивает размер */
    }

    .profile-picture {
        margin-bottom: 20px; /* Отступ снизу фотографии */
    }

    .intro-text h1 {
        font-size: 22px;
        color: #333;
    }

    .intro-text p {
        font-size: 24px;
        color: #666;
    }

    .profile-picture img {
        width: 320px;
        height: 500px;
        border-radius: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: rotate(-5deg);
        opacity: 0; /* Начальное значение непрозрачности */
        transition: opacity 3.8s ease; /* Настройка плавности и время перехода */
    }

    .reveal {
        font-size: 1.5em !important;
    }

    .quote {
        display: block;
        align-items: center;
        box-sizing: border-box; /* Рассматриваем границы и отступы как часть общего размера */
        width: 150%; /* Ширина элемента с учётом отступов */
        padding: 10px; /* Добавление отступов не увеличивает размер */
        background-color: #d7f7be;
    }

        .quote p {
            margin: 10px 0;
            font-size: 18px;
        }
    /*-----------------------------------------------*/
    
}  
    .profile-picture img.visible {
        opacity: 1; /* Конечное состояние - видимое */
    }


/*.gerb img {
    width: 150px;
    height: 200px;
    position: relative;
    right: 15em;
    
}*/

.intro-text h1 {
    font-size: 42px;
    color: #333;
}

.intro-text p {
    font-size: 32px;
    color: #666;
}
.intro-text {
    padding-left: 80px;
}

.reveal {
    position: relative;
    display: flex;
    color: #333;
    font-size: 2em;
    font-family: Raleway, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    white-space: pre;
    span{
    opacity: 0;
    transform: scale(0);
    animation: fadeIn 0.4s forwards;
}

&::before,
&::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    background: #333;
    opacity: 0;
    transform: scale(0);
}

&::before {
    left: 50%;
    animation: slideLeft 1.5s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
}

&::after {
    right: 50%;
    animation: slideRight 1.5s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
}

}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideLeft {
    to {
        left: -6%;
        opacity: 1;
        transform: scale(0.9);
    }
}

@keyframes slideRight {
    to {
        right: 34%;
        opacity: 1;
        transform: scale(0.9);
    }
}

.reveal-text,
.reveal-text::after {
    animation-delay: var(--animation-delay, 2s);
    animation-iteration-count: var(--iterations, 1);
    animation-duration: var(--duration, 800ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
    --animation-delay: var(--delay, 0);
    --animation-duration: var(--duration, 800ms);
    --animation-iterations: var(--iterations, 1);
    position: relative;
    font-size: 10vw;
    animation-name: clip-text;
    color: #FFF;
    white-space: nowrap;
    cursor: default;
    &::after

{
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d7f7be;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: text-revealer;
}

}


@keyframes clip-text {
    from {
        clip-path: inset(0 100% 0 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}


@keyframes text-revealer {

    0%, 50% {
        transform-origin: 0 50%;
    }

    60%, 100% {
        transform-origin: 100% 50%;
    }


    60% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

/* Quote Section */
.quote {
    text-align: center;
    padding: 30px;
    background-color: #d7f7be;
}

    .quote p {
        margin: 10px 0;
        font-size: 18px;
    }

/* Work Areas Section */
.work-areas {
    text-align: center;
    padding: 50px 20px;
}

.areas {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.area {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

    .area img {
        width: 100%;
        height: 60%;
        object-fit: cover;
        border-radius: 10px;
    }

    .area h3 {
        font-size: 20px;
        margin: 20px 0 10px;
    }

    .area p {
        font-size: 16px;
    }

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f3b7dc;
}

.footer-links a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

footer p {
    margin-top: 10px;
    font-size: 14px;
    color: black;
}

/* Responsive Design */
max-width: 768px {
    .intro

{
    flex-direction: column;
    text-align: center;
}

.intro-text {
    margin-top: 20px;
}

.areas {
    flex-direction: column;
    gap: 40px;
}
}
